<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입고</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <h1>LoIS eFLEXs</h1>
        </div>
        <div class="user-info">
            <p>로이스님</p>
            <p id="currentTime"></p>
            <input type="text" placeholder="메뉴검색">
        </div>
        <nav class="menu">
            <ul>
                <li>품목</li>
                <li>입고/반품관리</li>
                <li>주문관리</li>
                <li>재고관리</li>
                <li>CS/이벤트</li>
                <li>셀러서비스</li>
                <li>영업/운영자료관리</li>
                <li>기준정보</li>
                <li>정책</li>
                <li>시스템관리</li>
                <li>정산관리</li>
                <li class="toggle-title">네이버 게시판
                    <ul class="toggle-content">
                        <li><a href="{{ url_for('main') }}"><span class="dot"></span>전체 공지사항</a></li>
                        <li><a href="{{ url_for('출고') }}"><span class="dot"></span>출고</a></li>
                        <li><a href="{{ url_for('입고') }}"><span class="dot"></span>입고</a></li>
                        <li><a href="{{ url_for('반출') }}"><span class="dot"></span>반출</a></li>
                        <li><a href="{{ url_for('이벤트') }}"><span class="dot"></span>이벤트</a></li>
                        
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <header>
            <h1>입고</h1>
        </header>
        <div class="search-bar">
            <p>고객사명</p><input type="text" id="clientCompanyName" placeholder="고객사명">
            <p>분류</p>
            <select>
                <option value="">전체</option>
                <option value="품목미등록">품목미등록</option>
                <option value="전산재고부족">전산재고부족</option>
                <option value="실물재고부족">실물재고부족</option>
                <option value="파손 및 오염">파손 및 오염</option>
            </select>
            <p>완료여부</p>
            <select>
                <option value="">전체</option>
                <option value="확인중">확인 중</option>
                <option value="완결">완결</option>
            </select>
            <button class="search-button" onclick="searchOutbound()">조회</button>
            <button onclick="reset()">초기화</button>
        </div>
        <div class="inbound_outbound_tables">
            <h2>조회결과</h2>
            <div class="table-container">
                <table class="IO-table">
                    <thead>
                        <tr>
                            <th class="no-column">No</th>
                            <th class="FC-code">F/C코드</th>
                            <th class="FC-category">F/C유형</th>
                            <th class="description">설명</th>
                            <th class="phone-number">전화번호</th>
                            <th class="FAX-number">팩스번호</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- JavaScript를 통해 여기에 행이 추가될 것입니다. -->
                    </tbody>
                </table>
            </div>
            <div class="detail-table">
                <h2>상세 정보 및 가이드</h2>
                <table id="IO-detailTable">
                    <thead>
                        <tr>
                            <th class="no-column">No</th>
                            <th class="center-code">센터코드</th>
                            <th class="categorialCode">F/C유형</th>
                            <th class="languageCode">설명</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4">&nbsp;</td>
                        </tr>
                        <!-- 데이터 행 -->
                    </tbody>
                </table>
            </div>

            <!-- 메모장 역할의 재고이동현황 테이블 -->
            <div class="stock-movement-table">
                <h2>재고이동현황</h2>
                <table>
                    <thead>
                        <tr>
                            <th>일자</th>
                            <th>가용</th>
                            <th>비가용</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>08월 11일</td>
                            <td>2A01 -> 2A02</td>
                            <td>2B01 -> STOP01</td>
                        </tr>
                        <tr>
                            <td>08월 12일</td>
                            <td>2B01 -> 2B03</td>
                            <td>2A01 -> STOP03</td>
                        </tr>
                        <tr>
                            <td>08월 13일</td>
                            <td>2C01 -> 2C02</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
